<!DOCTYPE html>
<html>
<head>
  <title>About Us</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  {% include 'navbar.html' %}
  <div class="white-container">
    <h2>About Us 💖</h2>
    <p>We are passionate about bringing homemade flavors to your table. Our pickles and snacks are crafted with tradition and served with love❤️.Alongside our pickles, we offer a range of crispy snacks like murukku and chips, freshly prepared to bring joy to your snack time.We believe that good food is made with love, and it brings people together. Our mission is to share that love with every household that craves homemade taste — no matter where they are. ❤️

</p>
  </div>
</body>
</html>
